<h1 class="mt-4">Quản lý sản phẩm</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">Quản lý sản phẩm</li>
</ol>
<a href="/admin/products/create" class="btn btn-primary mb-3">Thêm mới</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="5%">STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th width="5%">Sửa</th>
      <th width="5%">Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Sản phẩm 1</td>
      <td>12.000 đ</td>
      <td>
        <a href="#" class="btn btn-warning btn-sm">Sửa</a>
      </td>
      <td>
        <a href="#" class="btn btn-danger btn-sm">Xóa</a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Sản phẩm 2</td>
      <td>12.000 đ</td>
      <td>
        <a href="#" class="btn btn-warning btn-sm">Sửa</a>
      </td>
      <td>
        <a href="#" class="btn btn-danger btn-sm">Xóa</a>
      </td>
    </tr>
  </tbody>
</table>
